div#document-contents {
  font-family: serif;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
}

div.document div.panel-body {
  max-height: 600px;
  overflow-y: scroll;
}

div#document-contents span {
  background-color: rgba(64, 105, 225, 0.4);
}

div#document-contents span:hover {
  background-color: rgba(64, 105, 225, 0.2);
}
