div#document-contents {
  font-family: serif;
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
}

div.document div.panel-body {
  max-height: 400px;
  overflow-y: scroll;
}

.document span.selected {
  background-color: rgba(64, 105, 225, 0.4);
}

.document span.selected:hover {
  opacity: 0.8;
}

.document span.error {
  background-color: rgba(248, 115, 118,1.0);
}

.document span.error:hover {
  opacity: 0.8;
}
